.searchbar_container{
    background-color: rgb(236, 174, 58);
    display: flex;
    justify-content: center;
    height: 20vh;
    align-items: center;
}
.searchbar_box{
    width: 400px;
    height: 40px;
    border-radius: 8px;
    border: none;
    padding: 4px 8px;
}